.search_box::placeholder{
color: azure;
}
.search_box{
    color:rgb(198, 246, 213)
}
.dropdown-menu{
    width: 200px;
    height: auto;
    background-color:rgb(197 226 219);
    position: absolute;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    z-index: 99;
}

.dropdown-menu-hidden{
    display: none;
}